* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    height: 95%;
    margin-top: 60px;
    background-color: #D9D9D9;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
    border-bottom: 1px;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    display: block;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 10px;
}

.sidebar ul li a:hover {
    background-color: #2F3640;
    color: white;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #2F3640;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 20px;
    height: 60px;
}

.user, .notification {
    width: 25px;
    height: 25px;
    margin-right: 30px;
    margin-left: 10px;
}

.logo {
    height: 40px;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.profile-icon-container {
    margin-top: 30px;
    margin-left: 300px;
    padding: 20px;
}

.profile-icon {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-container {
    margin-left: 600px;
    margin-top: -200px;
    padding: 20px;
}

.btn-edit {
    display: block;
    margin-left: 480px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #213448;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.profile-container input {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    width: 600px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn-logout {
    width: 150px;
    margin-left: 230px;
    padding: 10px 20px;
    background-color: #213448;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}