* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url('../assets/verifitor_bgimage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 60px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.login-logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 200px;
    height: auto;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #213448;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.login-container button:hover {
    background-color: #1a2735;
}

.forgotPassword {
    text-align: right;
    font-size: 12px;
    color: #73A9D4;
}